<!DOCTYPE html>
<html>
  <head>
<base href="{{ base_url }}" />
<link type="text/css" rel="stylesheet" href="printable/css/drupal-printable.css" />
{% if jquery is defined %}
<script src="{{ jquery }}"></script>
{% if close_script is defined %}
<script src="{{ close_script }}"></script>
{% else %}
<script src="printable/js/script.js"></script>
{% endif %}
{% endif %}
</head>
<body>
{{ header }}
{{ content }}
{{ footer }}
</body>
</html>
